<launch>
  
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="model" default="$(find mr2_description)/robots/mr2.urdf.xacro"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>
  
  <!-- Run a python script to the send a sevice call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model mr2 -param robot_description"/>
  
  <!-- ros_control launch file -->
  <include file="$(find mr2_control)/launch/mr2_control.launch"/>
  <node pkg="mr2_driver" type="mr2_sand_dune_node" name="mr2_sand_dune_node"/>
  
  <!-- mr2_driver -->
  <rosparam file="$(find mr2_driver)/config/simbot_offsets.yaml" command="load"/>
  <node pkg="mr2_driver" type="mr2_command_publisher_node" name="mr2_command_publisher_node"/>
</launch>
