<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find mr2_description)/urdf/base/base_2.gazebo.xacro"/>

  <xacro:macro name="base" params="parent *joint_origin">
    <joint name="base_link_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="base_link"/>
    </joint>

    <link name="base_link">
      <visual>
        <origin xyz="0.00000 0.00000 0.00000" rpy="0.00000 0.00000 0.00000"/>
        <geometry>
          <mesh filename="package://mr2_description/meshes/base_2.STL"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.00000 0.00000 0.00000" rpy="0.00000 0.00000 0.00000"/>
        <geometry>
          <mesh filename="package://mr2_description/meshes/base_2.STL"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.00000 0.00000 -0.01961" rpy="0.00000 1.57079 0.78540"/>
        <mass value="0.27998"/>
        <inertia
          ixx="0.00151230452" ixy="0.00000000000" ixz="0.00000000000"
          iyy="0.00188684807" iyz="0.00000000000"
          izz="0.00333368576"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>
