<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find mr2_description)/urdf/base/base.gazebo.xacro"/>

  <xacro:macro name="base" params="parent *joint_origin">
    <joint name="base_link_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="base_link"/>
    </joint>

    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://mr2_description/meshes/base.STL"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://mr2_description/meshes/base.STL"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.56"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>
